header{
    height:45px;
    display:flex;
    color:rgb(12, 12, 235);
    font-weight:lighter;
    text-shadow:1px 2px 2px blue;
    margin-right:0px;
    /* border:2px solid black; */
    
    background:linear-gradient(to right,black, white);
}
#icon{
    width:32px;
    height:32px;
    margin:5px 20px;
    border-radius:30px;
}
h1{
    margin:4px;
    font-size:22px;
}



header h4{
    margin:8px 100px 8px 0px;
    font-size:20px;
}
line{
    background-color:gray;
    margin:5px 10px;
    width:2px;
    height:30px;
}
header ul{
   justify-content:space-between;
   display:flex;
   font-size:20px;
   margin:8px -12px;
   text-align:center;
   /* position:relative;  */
}

header li{
    margin:-7px 40px 0px 60px;
    list-style:none;
    padding:5px 6px;
    text-shadow:1px 2px 4px whitesmoke;
    /* box-shadow:2px 2px 4px rgb(9, 9, 9); */
}

 header ul li a {
   color:black;
   padding:10px;
   text-decoration:none;
   margin:0px;
}

header li a:hover{
   color:white;
} 

ul div{
margin:-7px 40px 0px 60px;
padding:5px 6px;
 }

#icon1{
   width:32px;
   height:32px;
   margin:2px 5px 5px 50px ;
   border-radius:30px;
   
}
.toggle{
   width:200px;
   /* height:120px; */
   position:absolute;
   padding:0px;
   top:10%;
   right:20%;
   left:85%;
   /* border:3px solid black; */
    background:none;
    text-align:center;
    justify-content: center;
   text-shadow:none;
   max-height:0px;
   overflow:hidden;
   transition :max-height 0.5s;

}
.toggle.open-menu{
   max-height:400px; 
   display:block;
   z-index:1;
}
.pop{
   margin:0px;
   padding:0px;
}
.pop h5{
     width:200px;
     height:38px;
     margin:0px 0px 2px 0px;
     font-weight:500px;
     padding:8px 0px 0px 0px;
     background-color:whitesmoke;
     color:black;

}
hr{
    border:2px solid #6698d6; 
    border-bottom:none;
    padding:0px;
    margin:0px;
  }
  header ul  button{
    background-color:transparent;
            border:none; text-shadow:1px 2px 4px whitesmoke;
            font-size:large;
  }

  header ul button:hover{
    color:white;
  }
  #log1{
    background-color:transparent;
            border:none;
            font-size:large;
            margin:0px 0px;
            color:goldenrod;
              
  }
 
  #user{
    height:150px;
    display:flex;
    background-color:white;
    margin-top:10px;
   
}
#head{
    
    font-weight:lighter;
}

img{
    width:120px;
    height:100px;
    border-radius:20px;
    padding:10px 10px;
}

  h2{
    margin:10px;
    padding:14px 88px 0px 0px;
    color:rgb(222, 9, 140);
    font-size:28px;

}
#logo{
    width:100px;
    font-size:40px;
    margin:13px 35px 0px 200px;

}
h3{
    margin:0px 104px;
    padding:0px 10px 0px 10px;
    color:rgb(112, 112, 249);
    font-size:17px;
}
#h22{
    margin:1px 145px;
    padding:1px;
    color:rgb(228, 30, 20);
    font-size:16px;
    
}

.icon{
    width:30px;
    height:35px;
    margin:0px;
    padding:0px;
}
#headright{
    display:flex;
}

#headright h2{
    margin:10px 10px;
    padding:0px 0px;
    font-size:20px;
    width:100px;
}

#headright1{
    width:100px;
}

.sec2{
    background-color:rgb(0, 195, 255);
    height:700px;
    padding:20px 280px;
}
.node{
    height:600px;
    background-color:white;
    padding:20px;
}
.node h4{
    margin:10px 20px;
    padding:10px 5px;
    border:1px solid black;
    width:600px;
}
.node h2{
    text-align:center;
    color:red;
    padding:10px 0px;
}
table{
    
    margin:20px;
    width:850px;
    border-collapse:collapse;
}

td{
    border:2px solid grey;
    padding:5px 15px;

    
}
