body{
    margin:0px;
    background-color:rgb(124, 127, 213);
    font-family:'Lato';
}
header{
    height:45px;
    display:flex;
    color:rgb(12, 12, 235);
    font-weight:lighter;
    text-shadow:1px 2px 2px blue;
    /* border:2px solid black; */

    background:linear-gradient(to right,black,white);
}
#icon{
    width:32px;
    height:32px;
    margin:-4px 4px;
    border-radius:30px;
}
h1{
    margin:4px;
    font-size:22px;
}
header h4{
    margin:8px 100px 8px 0px;
    font-size:20px;
}
line{
    background-color:gray;
    margin:5px 10px;
    width:2px;
    height:30px;
}

header li{
    margin:-7px 30px 0px 60px;
    list-style:none;
    padding:5px 6px;
    text-shadow:1px 2px 4px whitesmoke;
    /* box-shadow:2px 2px 4px rgb(9, 9, 9); */
}
header ul{
   justify-content:space-between;
   display:flex;
   font-size:20px;
   margin:8px 30px;
}

header li:hover{
    color:rgb(251, 10, 10);
    width:80px;
    height:35px;
    align-items:center;
    justify-content: center;
    padding :2px 2px;

}

hr{
    border:3px solid #6698d6; ;
    border-bottom:none;
    padding:0px;
    margin:0px;
  }
 
#user{
    height:150px;
    display:flex;
    background-color:white;
    margin-top:10px;
   
}
#head{
    
    font-weight:lighter;
}

img{
    width:120px;
    height:100px;
    border-radius:20px;
    padding:10px 10px;
}

  h2{
    margin:10px;
    padding:14px 88px 0px 0px;
    color:rgb(222, 9, 140);
    font-size:28px;

}
#logo{
    width:100px;
    font-size:40px;
    margin:13px 35px 0px 200px;

}
h3{
    margin:0px 104px;
    padding:0px 10px 0px 10px;
    color:rgb(112, 112, 249);
    font-size:17px;
}
#h22{
    margin:1px 145px;
    padding:1px;
    color:rgb(228, 30, 20);
    font-size:16px;
    
}

.icon{
    width:30px;
    height:35px;
    margin:0px;
    padding:0px;
}
#headright{
    display:flex;
}

#headright h2{
    margin:10px 10px;
    padding:0px 0px;
    font-size:20px;
    width:100px;
}

#headright1{
    width:100px;
}

#sec2
{
    color:black;
    margin:50px 10px 10px 550px;
    padding:40px 68px 54px 71px;
    width:300px;
    background-color:whitesmoke;
    box-shadow:0px 0px 2px 4px rgb(79, 78, 80);
    border-radius:20px;
    backdrop-filter:blur(20px);
    /* border-color: 2px solid rgb(255, 2, 196); */
    height:320px;
    align-items: center;
    justify-content: center;   
}


label{
    font-size:20px;
    color:#033e87;
}

input{
    padding:5px 110px 5px 1px;
    margin:10px 0px;
    border:1px solid #6698d6;
}

select{
    margin:10px 0px;
    padding:10px 10px;
    border:2px solid #6698d6;
}

select option{
    background-color:black;
    color:white;
    border-style:solid;
    border:2px solid white;
}

button{
        border:none;
        background-color:blue;
        color:white;
        margin:30px 10px;
        padding:10px 130px;
        border-radius:20px;
        cursor:pointer;
}

a{
    text-decoration:none;
    color:white;
     font-size:20px;
}

